@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
  }
}
